:root {
  --bg: #efefef;

  --page-max: 80%;

  --text: #111;

  --muted: #666;

  --accent: #3b82f6;

  --radius: 8px;

  --gap: 20px;
}





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 105%;
}




html,
body {
  height: 100%
}

body {
  font-family: Inter, "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.5;
  color: var(--text);
  background: var(--bg);
}

.container {
  max-width: var(--page-max);
  margin: 0 auto;
  padding: 0 0px;
}

.site-header {
  background: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: headerFade 0.6s ease-in-out;
}

@keyframes headerFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrap {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: 14px 20px;
  max-width: var(--page-max);
  margin: 0 auto;
}

.brand {
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  animation: slideIn 0.6s ease;
}

.brand a {
  font-size: 115%;
}



.brand a:hover {
  color: #9c9c9c;
}

.affix {
  padding: 0;
  background-color: #6b0000;
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* NAVIGATION */
.main-nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 18px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 6px 8px;
  border-radius: 6px;
  position: relative;
  transition: color 0.25s ease, transform 0.25s ease;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: var(--text);
  transition: width 0.3s ease;
  border-radius: 10px;
}

.nav-list a:hover {
  color: #c7c7c7;
  transform: translateY(-2px);
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-toggle {
  display: none;
  background: transparent;
  border: 0;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
}

.nav-toggle:hover {
  transform: rotate(90deg);
}


@media (max-width:822px) {
  .nav-toggle {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 3%;
  }


  .main-nav {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    color: white;
  }

  .main-nav.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .nav-list {
    flex-direction: column;
    gap: 14px;
  }

  .nav-list li a {
    color: rgb(0, 0, 0);
  }

}


.hero {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.86)),
    #000;
  color: #fff;
  padding: 80px 0;
  position: relative;
  overflow: hidden
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
  justify-content: center;
}

.hero-content {
  flex: 1;
  max-width: 640px;
}

.eyebrow {
  color: #bfbfbf;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 80px;
}

.hero-title {
  font-size: 66px;
  line-height: 1.05;
  margin: 0 0 18px;
  font-weight: 900;
  letter-spacing: -0.4px
}

.subtitle {
  color: #dcdcdc;
  font-weight: 600;
  font-size: 36px;
}

.hero-image {
  width: 380px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-image img {
  display: block;
  width: 151%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  transform: translateY(80px)
}

.section {
  padding: 60px 0;
}

.section h2 {
  font-size: 35px;
  margin-bottom: 3%;
  color: var(--text);
  text-align: center;

}

.about {
  background: #f5f5f5
}


.about-text {
  flex: 1
}

.uni-logo img {
  max-width: 220px
}

.edu-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;

}

.ora {
  margin-top: 2%;
}

.edu-image {
  justify-content: center;
  align-items: center;
}

.project-pic {
  justify-content: center;

}

.project-pic img {
  float: right;
}



.edu-image img {
  max-width: 210px;
}






.Data-flow-diagram {
  width: 62%;
  height: auto;
}

.project-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  justify-content: center;
  margin-bottom: 5%;
}

.project details {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06)
}


.last-div {
  display: inline;
}


.exp-item {
  background: #fff;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.03)
}

.footer {
  background: white;
  color: var(--text);
  padding: 30px 20px;
}



.fo-content {
  display: flex;
}

.footer-column {
  flex: 1 1 250px;
  margin-left: 2%;
}

.last-div div {
  display: inline;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column a {
  display: block;
  color: var(--text);
  text-decoration: none;
  margin: 5px 0;
}

.footer-column a:hover {
  color: #000;
}


.btn:hover {
  color: #9999997c;
  cursor: pointer;
}

.container {
  max-width: var(--page-max);
  margin: 0 10%;
  padding: 0 20px;
}

@media (max-width:1000px) {
  .hero-title {
    font-size: 36px
  }

  .hero-image {
    width: 300px
  }

  .edu-row,
  .two-col {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-list {
    grid-template-columns: 1fr
  }

  .project-pic img {

    display: none;
  }
}

.brand2 {
  color: rgb(255, 255, 255);
  display: none;
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  animation: slideIn 0.6s ease;
}

.brand2 a {
  color: white;
}


@media (max-width:975px) {


  .brand a {
    display: none;
  }

  .brand2 {
    display: block;
  }

  


}

@media (max-width:700px) {
  .wrap {
    padding: 12px;
  }


  .hero-inner {
    flex-direction: column;
    align-items: flex-start
  }

  .hero-image {
    width: 70%;
    align-self: center;
    transform: none
  }

  .wrap {
    margin: 0 1%;
  }


  .section h2 {
    font-size: 25px;
  }

.card2 .project-cards{
      flex-wrap: wrap;

  }

}


.about p {
  font-size: 124%;
}



.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.edu-card {
  display: flex;
  align-content: stretch;
  max-width: 100%;
}

.card1 {
  width: 100%;
  height: 23rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(100%);
    transition: filter .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 1% 0;
    top: 0; 
    text-align: center; 
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
  }

  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  p {
    inset: auto auto 80px 30px;
  }

  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  &:hover h2 {
    display: none;
  }

  &:hover p,
  &:hover a {
    transition: opacity .5s .1s ease-in;
    opacity: 1;
  }

  &:hover img {
    transition:filter .3s ease-in;
   filter: brightness(50%);
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}


@media (max-width:415px){

.card h2{
  text-align: center;
}


}


@media (max-width:775px){
.card{
  overflow-y: scroll;
}

}





.card2 {
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  margin-right:1%;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1%;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(100%);
    transition: filter .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    top: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    display: none;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: filter .3s ease-in;
    filter: brightness(50%);
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}




.project-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}







.card3 {
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  margin-right:1%;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1%;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(100%);
    transition: filter .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    top: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(252, 252, 252);
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    display: none;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: filter .3s ease-in;
    filter: brightness(50%);
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}



.ex-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
